<div>
    <h1 class="display-4">Инструкции и бележки</h1>
    <pre>
        Използвана база данни SQLite.
        ORM - EF Core (code first).

        Demo.WebApi.ServiceHost - стартъп проект.

        При стартиране на приложението:
         - автоматично се прилагат миграции и базата се създава. 
         - автоматично се създава потребител необходим за достъп до API-а.
            - email:    op1@ps.com
            - password: 123
         - при стартирането на Api тестовете се създава нова (<i>тяхна</i>) база данни.
         - за работа с entpoints в Swagger (има линк в менюто по-горе) са необходи следните стъпки: <a href="https://helpcenter.veeam.com/docs/backup/vbr_rest/authorization_swagger.html?ver=120" target="_blank">Authorization with Swagger UI</a>
    </pre>
</div>
