@using Demo.WebApi.Application.Abstractions.Pagination;
@using Demo.WebApi.Core.Entities;
@using Demo.WebApi.Core.Entities.Clients;
@using Demo.WebApi.ServiceHost.Views.Shared.Components;
@using Microsoft.OpenApi.Extensions;
@model PagedResult<Client>
@{
    var title = "Parked vehicles";
    ViewData["Title"] = title;
}
<h2>@title</h2>
<div class="row">
    <div class="col-md-10">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model.Results)
                {
                    <tr>
                        <td>@client.Id</td>
                        <td>@client.Name</td>
                    </tr>
                }
            </tbody>
        </table>

        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    </div>
</div>